{{define "fshtml"}}
<div class="card bg-light mb-3">
    <div class="card-header">
        <b>Filesystem</b>
    </div>
    <div class="card-body pb-1">
        <div class="form-group row">
            <label for="idFilesystem" class="col-sm-2 col-form-label">ストレージ</label>
            <div class="col-sm-10">
                <select class="form-control selectpicker" id="idFilesystem" name="fs_provider"
                    onchange="onFilesystemChanged(this.value)">
                    {{ range ListFSProviders }}
                    <option value="{{.Name}}" {{if eq . $.Provider }}selected{{end}}>{{.ShortInfo}}</option>
                    {{end}}
                </select>
            </div>
        </div>
        {{if or .IsUserPage .IsGroupPage}}
        <div class="form-group row">
            <label for="idHomeDir" class="col-sm-2 col-form-label">Home Dir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idHomeDir" name="home_dir" placeholder="ローカルディレクトリへの絶対パス"
                    value="{{.DirPath}}" aria-describedby="homeDirHelpBlock">
                <small id="homeDirHelpBlock" class="form-text text-muted">
                    {{if not .DirPath}}{{if .HasUsersBaseDir}}適切なデフォルトについては空白のままにしておく{{else}}{{if .IsGroupPage}}ルートファイルシステムを上書きしないように、空白のままにしてストレージを「ローカル」にします{{else}}ローカルストレージプロバイダに必要です。ローカル以外のファイルシステムでは、一時ファイルを保存するので、適切なデフォルトのために空白のままにしておくことができます{{end}}{{end}}{{end}}
                </small>
            </div>
        </div>
        {{else}}
        <div class="form-group row">
            <label for="idMappedPath" class="col-sm-2 col-form-label">Home Dir</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idMappedPath" name="mapped_path" placeholder="ローカルディレクトリへの絶対パス"
                    value="{{.DirPath}}" aria-describedby="mappedPathHelpBlock">
                <small id="mappedPathHelpBlock" class="form-text text-muted">
                    ローカルストレージプロバイダに必要です。ローカル以外のファイルシステムでは、一時ファイルを保存するので、適切なデフォルトのために空白のままにしておくことができます
                </small>
            </div>
        </div>
        {{end}}
        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3Bucket" class="col-sm-2 col-form-label">バケツ</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idS3Bucket" name="s3_bucket" placeholder=""
                    value="{{.S3Config.Bucket}}" maxlength="255">
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3Region" class="col-sm-2 col-form-label">地域</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idS3Region" name="s3_region" placeholder=""
                    value="{{.S3Config.Region}}" maxlength="255">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3AccessKey" class="col-sm-2 col-form-label">アクセスキー</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idS3AccessKey" name="s3_access_key" placeholder=""
                    value="{{.S3Config.AccessKey}}" maxlength="255">
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3AccessSecret" class="col-sm-2 col-form-label">アクセスシークレット</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="idS3AccessSecret" name="s3_access_secret" placeholder=""
                    value="{{if .S3Config.AccessSecret.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.S3Config.AccessSecret.GetPayload}}{{end}}">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3StorageClass" class="col-sm-2 col-form-label">ストレージクラス</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idS3StorageClass" name="s3_storage_class" placeholder=""
                    value="{{.S3Config.StorageClass}}" maxlength="255" aria-describedby="S3StorageClassHelpBlock">
                <small id="S3StorageClassHelpBlock" class="form-text text-muted">
                    Leave blank for default
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3Endpoint" class="col-sm-2 col-form-label">エンドポイント</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idS3Endpoint" name="s3_endpoint" placeholder=""
                    value="{{.S3Config.Endpoint}}" maxlength="512" aria-describedby="S3EndpointHelpBlock">
                    <small id="S3EndpointHelpBlock" class="form-text text-muted">
                        AWS S3の場合、指定された地域のデフォルトエンドポイントを使用するには空白のままにしてください。
                    </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3PartSize" class="col-sm-2 col-form-label">ULパートサイズ (MB)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3PartSize" name="s3_upload_part_size" placeholder=""
                    value="{{.S3Config.UploadPartSize}}" aria-describedby="S3PartSizeHelpBlock">
                <small id="S3PartSizeHelpBlock" class="form-text text-muted">
                    マルチパートアップロードのバッファサイズ。ゼロはデフォルト(5 MB)を意味します。最小値は5です
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3UploadConcurrency" class="col-sm-2 col-form-label">UL並行性</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3UploadConcurrency" name="s3_upload_concurrency"
                    placeholder="" value="{{.S3Config.UploadConcurrency}}" min="0"
                    aria-describedby="S3ConcurrencyHelpBlock">
                <small id="S3ConcurrencyHelpBlock" class="form-text text-muted">
                    並行してアップロードされるパートの数。ゼロはデフォルトを意味します(5)
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3DLPartSize" class="col-sm-2 col-form-label">DLパートサイズ (MB)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3DLPartSize" name="s3_download_part_size" placeholder=""
                    value="{{.S3Config.DownloadPartSize}}" aria-describedby="S3DLPartSizeHelpBlock">
                <small id="S3DLPartSizeHelpBlock" class="form-text text-muted">
                    マルチパートダウンロードのバッファサイズ。ゼロはデフォルト(5 MB)を意味します。最小値は5です
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3DownloadConcurrency" class="col-sm-2 col-form-label">DL並行性</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3DownloadConcurrency" name="s3_download_concurrency"
                    placeholder="" value="{{.S3Config.DownloadConcurrency}}" min="0"
                    aria-describedby="S3DLConcurrencyHelpBlock">
                <small id="S3DLConcurrencyHelpBlock" class="form-text text-muted">
                    並行してダウンロードされるパートの数。ゼロはデフォルトを意味します(5)
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3UploadTimeout" class="col-sm-2 col-form-label">ULパートタイムアウト(秒)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3UploadTimeout" name="s3_upload_part_max_time"
                    placeholder="" value="{{.S3Config.UploadPartMaxTime}}" min="0"
                    aria-describedby="S3UploadTimeoutHelpBlock">
                <small id="S3UploadTimeoutHelpBlock" class="form-text text-muted">
                    1つの部分をアップロードするための最大制限時間(秒単位)。0は制限なしを意味します
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idS3DownloadTimeout" class="col-sm-2 col-form-label">DLパートタイムアウト(秒)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idS3DownloadTimeout" name="s3_download_part_max_time"
                    placeholder="" value="{{.S3Config.DownloadPartMaxTime}}" min="0"
                    aria-describedby="S3DownloadTimeoutHelpBlock">
                <small id="S3DownloadTimeoutHelpBlock" class="form-text text-muted">
                    1つの部分をダウンロードするための最大制限時間(秒単位)。0は制限なしを意味します
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3RoleARN" class="col-sm-2 col-form-label">Role ARN</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idS3RoleARN" name="s3_role_arn" placeholder=""
                    value="{{.S3Config.RoleARN}}" aria-describedby="S3RoleARNHelpBlock">
                <small id="S3RoleARNHelpBlock" class="form-text text-muted">
                    選択可能なIAM Role ARN
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3ACL" class="col-sm-2 col-form-label">ACL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idS3ACL" name="s3_acl" placeholder=""
                    value="{{.S3Config.ACL}}" maxlength="255" aria-describedby="S3ACLHelpBlock">
                <small id="S3ACLHelpBlock" class="form-text text-muted">
                    アップロードされたオブジェクトのACL。デフォルトは空白のままにします。詳細については、こちらをご覧ください <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl" target="_blank">here</a>
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-s3fs">
            <label for="idS3KeyPrefix" class="col-sm-2 col-form-label">Key Prefix</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idS3KeyPrefix" name="s3_key_prefix" placeholder=""
                    value="{{.S3Config.KeyPrefix}}" aria-describedby="S3KeyPrefixHelpBlock">
                <small id="S3KeyPrefixHelpBlock" class="form-text text-muted">
                    ローカルファイルシステムのchrootに似ています。「/」で始まることはできません。例:「somedir/subdir/」。
                </small>
            </div>
        </div>

        <div class="form-group fsconfig fsconfig-s3fs">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="idS3ForcePathStyle" name="s3_force_path_style"
                    {{if .S3Config.ForcePathStyle}}checked{{end}}>
                <label for="idS3ForcePathStyle" class="form-check-label" aria-describedby="S3PathStyleHelpBlock">パススタイルのアドレッシング、つまり「`endpoint`/BUCKET/KEY」を使用する</label>
                <small id="S3PathStyleHelpBlock" class="form-text text-muted">
                    一部の互換性のあるS3バックエンドに必要です
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-gcsfs">
            <label for="idGCSBucket" class="col-sm-2 col-form-label">バケツ</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idGCSBucket" name="gcs_bucket" placeholder=""
                    value="{{.GCSConfig.Bucket}}" maxlength="255">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-gcsfs">
            <label for="idGCSCredentialFile" class="col-sm-2 col-form-label">資格情報ファイル</label>
            <div class="col-sm-4">
                <input type="file" class="form-control-file" id="idGCSCredentialFile" name="gcs_credential_file"
                    aria-describedby="GCSCredentialsHelpBlock">
                <small id="GCSCredentialsHelpBlock" class="form-text text-muted">
                    JSONファイルから資格情報を追加または更新する
                </small>
            </div>
            <div class="col-sm-1"></div>
            <label for="idGCSStorageClass" class="col-sm-2 col-form-label">ストレージクラス</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idGCSStorageClass" name="gcs_storage_class" placeholder=""
                    value="{{.GCSConfig.StorageClass}}" maxlength="255" aria-describedby="GCSStorageClassHelpBlock">
                <small id="GCSStorageClassHelpBlock" class="form-text text-muted">
                    デフォルトでは空白のままにする
                </small>
            </div>
        </div>

        <div class="form-group fsconfig fsconfig-gcsfs">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="idGCSAutoCredentials" name="gcs_auto_credentials"
                    aria-describedby="GCSAutoCredentialsHelpBlock" {{if gt .GCSConfig.AutomaticCredentials 0}}checked{{end}}>
                <label for="idGCSAutoCredentials" class="form-check-label">自動資格情報</label>
                <small id="GCSAutoCredentialsHelpBlock" class="form-text text-muted">
                    環境からデフォルトのアプリケーション資格情報または資格情報を使用する
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-gcsfs">
            <label for="idGCSKeyPrefix" class="col-sm-2 col-form-label">Key Prefix</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idGCSKeyPrefix" name="gcs_key_prefix" placeholder=""
                    value="{{.GCSConfig.KeyPrefix}}" aria-describedby="GCSKeyPrefixHelpBlock">
                <small id="GCSKeyPrefixHelpBlock" class="form-text text-muted">
                    ローカルファイルシステムのchrootに似ています。「/」で始まることはできません。例:「somedir/subdir/」。
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idGCSACL" class="col-sm-2 col-form-label">ACL</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idGCSACL" name="gcs_acl" placeholder=""
                    value="{{.GCSConfig.ACL}}" maxlength="255" aria-describedby="GCSACLHelpBlock">
                <small id="GCSACLHelpBlock" class="form-text text-muted">
                    アップロードされたオブジェクトのACL。デフォルトは空白のままにします。詳細については、JSON APIを参照してください。 <a href="https://cloud.google.com/storage/docs/access-control/lists#predefined-acl" target="_blank">here</a>
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzContainer" class="col-sm-2 col-form-label">コンテナ</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idAzContainer" name="az_container" placeholder=""
                    value="{{.AzBlobConfig.Container}}" maxlength="255">
            </div>
            <div class="col-sm-2"></div>
            <label for="idAzAccountName" class="col-sm-2 col-form-label">アカウント名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idAzAccountName" name="az_account_name" placeholder=""
                    value="{{.AzBlobConfig.AccountName}}" maxlength="255">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzAccountKey" class="col-sm-2 col-form-label">アカウントキー</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="idAzAccountKey" name="az_account_key" placeholder=""
                    value="{{if .AzBlobConfig.AccountKey.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.AzBlobConfig.AccountKey.GetPayload}}{{end}}">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzSASURL" class="col-sm-2 col-form-label">SAS URL</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="idAzSASURL" name="az_sas_url" placeholder="" aria-describedby="AzSASURLHelpBlock"
                    value="{{if .AzBlobConfig.SASURL.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.AzBlobConfig.SASURL.GetPayload}}{{end}}">
                <small id="AzSASURLHelpBlock" class="form-text text-muted">
                    共有アクセス署名URLは、アカウント名/キーの代わりに使用できます。
                </small>
            </div>
        </div>
        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzEndpoint" class="col-sm-2 col-form-label">エンドポイント</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idAzEndpoint" name="az_endpoint" placeholder=""
                    aria-describedby="AzEndpointHelpBlock" value="{{.AzBlobConfig.Endpoint}}" maxlength="512">
                <small id="AzEndpointHelpBlock" class="form-text text-muted">
                    オプションのエンドポイント
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzAccessTier" class="col-sm-2 col-form-label">アクセス層</label>
            <div class="col-sm-10">
                <select class="form-control selectpicker" id="idAzAccessTier" name="az_access_tier">
                    <option value="" {{if eq .AzBlobConfig.AccessTier "" }}selected{{end}}>デフォルト</option>
                    <option value="Hot" {{if eq .AzBlobConfig.AccessTier "Hot" }}selected{{end}}>ホット</option>
                    <option value="Cool" {{if eq .AzBlobConfig.AccessTier "Cool" }}selected{{end}}>クール</option>
                    <option value="Archive" {{if eq .AzBlobConfig.AccessTier "Archive" }}selected{{end}}>アーカイブ
                    </option>
                </select>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzUploadPartSize" class="col-sm-2 col-form-label">ULパートサイズ (MB)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idAzUploadPartSize" name="az_upload_part_size" placeholder=""
                    value="{{.AzBlobConfig.UploadPartSize}}" aria-describedby="AzDLPartSizeHelpBlock">
                <small id="AzDLPartSizeHelpBlock" class="form-text text-muted">
                    マルチパートアップロードのバッファサイズ。ゼロはデフォルトを意味します(5 MB)
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idAzUploadConcurrency" class="col-sm-2 col-form-label">UL並行性</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idAzUploadConcurrency" name="az_upload_concurrency"
                    placeholder="" value="{{.AzBlobConfig.UploadConcurrency}}" min="0"
                    aria-describedby="AzULConcurrencyHelpBlock">
                <small id="AzULConcurrencyHelpBlock" class="form-text text-muted">
                    並行してアップロードされる部品の数。ゼロはデフォルトを意味します(5)
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzDownloadPartSize" class="col-sm-2 col-form-label">DLパートサイズ (MB)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idAzDownloadPartSize" name="az_download_part_size" placeholder=""
                    value="{{.AzBlobConfig.DownloadPartSize}}" aria-describedby="AzDLPartSizeHelpBlock">
                <small id="AzDLPartSizeHelpBlock" class="form-text text-muted">
                    マルチパートダウンロードのバッファサイズ。ゼロはデフォルトを意味します(5 MB)
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idAzDownloadConcurrency" class="col-sm-2 col-form-label">DL並行性</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idAzDownloadConcurrency" name="az_download_concurrency"
                    placeholder="" value="{{.AzBlobConfig.DownloadConcurrency}}" min="0"
                    aria-describedby="AzDLConcurrencyHelpBlock">
                <small id="AzDLConcurrencyHelpBlock" class="form-text text-muted">
                    並行してダウンロードされる部品の数。ゼロはデフォルトを意味します(5)
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-azblobfs">
            <label for="idAzKeyPrefix" class="col-sm-2 col-form-label">Key Prefix</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idAzKeyPrefix" name="az_key_prefix" placeholder=""
                    value="{{.AzBlobConfig.KeyPrefix}}" aria-describedby="AzKeyPrefixHelpBlock">
                <small id="AzKeyPrefixHelpBlock" class="form-text text-muted">
                    ローカルファイルシステムのchrootに似ています。「/」で始まることはできません。例:「somedir/subdir/」。
                </small>
            </div>
        </div>

        <div class="form-group fsconfig fsconfig-azblobfs">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="idUseEmulator" name="az_use_emulator" {{if
                    .AzBlobConfig.UseEmulator}}checked{{end}}>
                <label for="idUseEmulator" class="form-check-label">Azure Blobエミュレータを使用する</label>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-cryptfs">
            <label for="idCryptPassphrase" class="col-sm-2 col-form-label">パスフレーズ</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="idCryptPassphrase" name="crypt_passphrase"
                    placeholder="" aria-describedby="CryptPassphraseHelpBlock"
                    value="{{if .CryptConfig.Passphrase.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.CryptConfig.Passphrase.GetPayload}}{{end}}">
                <small id="CryptPassphraseHelpBlock" class="form-text text-muted">
                    オブジェクトごとの暗号化キーを導き出すためのパスフレーズ
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPEndpoint" class="col-sm-2 col-form-label">エンドポイント</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idSFTPEndpoint" name="sftp_endpoint" placeholder=""
                    value="{{.SFTPConfig.Endpoint}}" maxlength="255" aria-describedby="SFTPEndpointHelpBlock">
                <small id="SFTPEndpointHelpBlock" class="form-text text-muted">
                    「ホスト:ポート」フォーマットのエンドポイント、ポートは常に必要です
                </small>
            </div>
            <div class="col-sm-2"></div>
            <label for="idSFTPUploadBufferSize" class="col-sm-2 col-form-label">バッファサイズ (MB)</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="idSFTPBufferSize" name="sftp_buffer_size" placeholder=""
                    value="{{.SFTPConfig.BufferSize}}" min="0" max="16" aria-describedby="SFTPBufferHelpBlock">
                <small id="SFTPBufferHelpBlock" class="form-text text-muted">
                    バッファサイズ> 0の場合、同時転送を可能にします
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPUsername" class="col-sm-2 col-form-label">ユーザー名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idSFTPUsername" name="sftp_username" placeholder=""
                    value="{{.SFTPConfig.Username}}" maxlength="255">
            </div>
            <div class="col-sm-2"></div>
            <label for="idSFTPPassword" class="col-sm-2 col-form-label">パスワード</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="idSFTPPassword" name="sftp_password" placeholder=""
                    value="{{if .SFTPConfig.Password.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.SFTPConfig.Password.GetPayload}}{{end}}">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPPrivateKey" class="col-sm-2 col-form-label">秘密鍵</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="idSFTPPrivateKey" name="sftp_private_key"
                    rows="3">{{if .SFTPConfig.PrivateKey.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.SFTPConfig.PrivateKey.GetPayload}}{{end}}</textarea>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPPassphrase" class="col-sm-2 col-form-label">キーパスフレーズ</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="idSFTPPassphrase" name="sftp_key_passphrase" placeholder=""
                    value="{{if .SFTPConfig.KeyPassphrase.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.SFTPConfig.KeyPassphrase.GetPayload}}{{end}}"
                    aria-describedby="SFTPPassphraseHelpBlock">
                <small id="SFTPPassphraseHelpBlock" class="form-text text-muted">
                    秘密鍵を保護するために使用されるパスフレーズ(もしあれば)
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPFingerprints" class="col-sm-2 col-form-label">指紋</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="idSFTPFingerprints" name="sftp_fingerprints" rows="3"
                    aria-describedby="SFTPFingerprintsHelpBlock">{{range .SFTPConfig.Fingerprints}}{{.}}&#10;{{end}}</textarea>
                <small id="SFTPFingerprintsHelpBlock" class="form-text text-muted">
                    外部SFTPサーバーに接続するときに検証するSHA256フィンガープリント、1行に1つずつ。空の場合、ホストキーが受け入れられます。これはセキュリティ上のリスクです。
                </small>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-sftpfs">
            <label for="idSFTPPrefix" class="col-sm-2 col-form-label">接頭辞</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idSFTPPrefix" name="sftp_prefix" placeholder=""
                    value="{{.SFTPConfig.Prefix}}" aria-describedby="SFTPPrefixHelpBlock">
                <small id="SFTPPrefixHelpBlock" class="form-text text-muted">
                    ローカルファイルシステムのchrootに似ています。例:「/somedir/subdir」。
                </small>
            </div>
        </div>

        <div class="form-group fsconfig fsconfig-sftpfs">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="idDisableConcurrentReads"
                    name="sftp_disable_concurrent_reads" {{if .SFTPConfig.DisableCouncurrentReads}}checked{{end}}>
                <label for="idDisableConcurrentReads" class="form-check-label">同時読み取りを無効にする</label>
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-httpfs">
            <label for="idHTTPEndpoint" class="col-sm-2 col-form-label">エンドポイント</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="idHTTPEndpoint" name="http_endpoint" placeholder=""
                    value="{{.HTTPConfig.Endpoint}}" maxlength="255">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-httpfs">
            <label for="idHTTPUsername" class="col-sm-2 col-form-label">ユーザー名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="idHTTPUsername" name="http_username" placeholder=""
                    value="{{.HTTPConfig.Username}}" maxlength="255">
            </div>
            <div class="col-sm-2"></div>
            <label for="idHTTPPassword" class="col-sm-2 col-form-label">パスワード</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="idHTTPPassword" name="http_password" placeholder=""
                    value="{{if .HTTPConfig.Password.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.HTTPConfig.Password.GetPayload}}{{end}}">
            </div>
        </div>

        <div class="form-group row fsconfig fsconfig-httpfs">
            <label for="idHTTPAPIKey" class="col-sm-2 col-form-label">APIキー</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="idHTTPAPIKey" name="http_api_key" placeholder=""
                    value="{{if .HTTPConfig.APIKey.IsEncrypted}}{{.RedactedSecret}}{{else}}{{.HTTPConfig.APIKey.GetPayload}}{{end}}">
            </div>
        </div>

        <div class="form-group fsconfig fsconfig-httpfs">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="idHTTPSkipTLSVerify"
                    name="http_skip_tls_verify" {{if .HTTPConfig.SkipTLSVerify}}checked{{end}}>
                <label for="idHTTPSkipTLSVerify" class="form-check-label">TLS検証をスキップする</label>
            </div>
        </div>
    </div>
</div>
{{end}}

{{define "fsjs"}}
<script type="text/javascript">
    function onFilesystemChanged(val){
        // each fsconfig form-group has the 'fsconfig' css class
        // as well as a 'fsconfig-{name}' class where name is the FilesystemProvider.Name
        // we're simply hiding all of them and then showing the ones that match the selected vfs provider
        $('.form-group.fsconfig').hide();
        $('.form-group.fsconfig-'+val).show();
    }
</script>
{{end}}