{{template "base" .}}

{{define "title"}}{{.Title}}{{end}}

{{define "page_body"}}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Services</h6>
    </div>
    <div class="card-body">
        <div class="card mb-4 {{ if .Status.SSH.IsActive}}border-left-success{{else}}border-left-info{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">SFTP/SSH server</h6>
                <p class="card-text">
                    ステータス: {{ if .Status.SSH.IsActive}}"起動中"{{else}}"停止"{{end}}
                    {{if .Status.SSH.IsActive}}
                    <br>
                    {{range .Status.SSH.Bindings}}
                    <br>
                    アドレス: "{{.GetAddress}}" {{if .HasProxy}}プロキシ: オン{{end}}
                    <br>
                    {{end}}
                    許可される認証: "{{.Status.SSH.GetSupportedAuthsAsString}}"
                    <br>
                    許可されるコマンド: "{{.Status.SSH.GetSSHCommandsAsString}}"
                    <br>
                    {{range .Status.SSH.HostKeys}}
                    <br>
                    ホストキー: "{{.Path}}"
                    <br>
                    指紋: "{{.Fingerprint}}"
                    <br>
                    {{end}}
                    {{end}}
                </p>
            </div>
        </div>

        <div class="card mb-4 {{ if .Status.FTP.IsActive}}border-left-success{{else}}border-left-info{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">FTPサーバー</h6>
                <p class="card-text">
                    Status: {{ if .Status.FTP.IsActive}}"起動中"{{else}}"停止"{{end}}
                    {{if .Status.FTP.IsActive}}
                    <br>
                    {{range .Status.FTP.Bindings}}
                    <br>
                    アドレス: "{{.GetAddress}}" {{if .HasProxy}}プロキシ: オン{{end}}
                    <br>
                    TLS: "{{.GetTLSDescription}}"
                    {{if .ForcePassiveIP}}
                    <br>
                    パッシブIP: {{.ForcePassiveIP}}
                    {{end}}
                    <br>
                    {{range .PassiveIPOverrides}}
                    パッシブIP: {{.IP}} ネットワーク: {{.GetNetworksAsString}}
                    <br>
                    {{end}}
                    {{end}}
                    <br>
                    パッシブポート範囲: "{{.Status.FTP.PassivePortRange.Start}}-{{.Status.FTP.PassivePortRange.End}}"
                    {{end}}
                </p>
            </div>
        </div>

        <div class="card mb-4 {{ if .Status.WebDAV.IsActive}}border-left-success{{else}}border-left-info{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">WebDAVサーバー</h6>
                <p class="card-text">
                    ステータス: {{ if .Status.WebDAV.IsActive}}"起動中"{{else}}"停止"{{end}}
                    {{if .Status.WebDAV.IsActive}}
                    <br>
                    {{range .Status.WebDAV.Bindings}}
                    <br>
                    アドレス: "{{.GetAddress}}"
                    <br>
                    プロトコル: {{if .EnableHTTPS}} HTTPS {{else}} HTTP {{end}}
                    <br>
                    {{end}}
                    {{end}}
                </p>
            </div>
        </div>

        <div class="card mb-4 {{ if .Status.Defender.IsActive}}border-left-success{{else}}border-left-info{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">Defender</h6>
                <p class="card-text">
                    ステータス: {{ if .Status.Defender.IsActive}}"有効"{{else}}"無効"{{end}}
                </p>
            </div>
        </div>

        <div class="card mb-4 {{ if .Status.MFA.IsActive}}border-left-success{{else}}border-left-info{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">多要素認証</h6>
                <p class="card-text">
                    ステータス: {{ if .Status.MFA.IsActive}}"有効 "{{else}}"無効"{{end}}
                    {{ if .Status.MFA.IsActive}}
                    <br>
                    時間ベースのワンタイムパスワード(RFC 6238)の設定:
                    <br>
                    <ul>
                    {{range .Status.MFA.TOTPConfigs}}
                    <li>名前: "{{.Name}}", 発行者: "{{.Issuer}}", HMACアルゴリズム: "{{.Algo}}"</li>
                    {{end}}
                    </ul>
                    {{end}}
                </p>
            </div>
        </div>

        <div class="card mb-2 {{ if .Status.DataProvider.IsActive}}border-left-success{{else}}border-left-warning{{end}}">
            <div class="card-body">
                <h6 class="card-title font-weight-bold">データプロバイダー</h6>
                <p class="card-text">
                    ステータス: {{ if .Status.DataProvider.IsActive}}"OK"{{else}}"{{.Status.DataProvider.Error}}"{{end}}
                    <br>
                    ドライバー: "{{.Status.DataProvider.Driver}}"
                </p>
            </div>
        </div>

    </div>
</div>

{{end}}