{{template "baselogin" .}}

{{define "title"}}2要素回復{{end}}

{{define "content"}}
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">{{.Branding.Name}} - {{.Version}}</h1>
                                    </div>
                                    {{if .Error}}
                                    <div class="card mb-4 border-left-warning">
                                        <div class="card-body text-form-error">{{.Error}}</div>
                                    </div>
                                    {{end}}
                                    <form id="login_form" action="{{.CurrentURL}}" method="POST" autocomplete="off"
                                        class="user-custom">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user-custom"
                                                id="inputRecoveryCode" name="recovery_code" placeholder="リカバリーコード" required>
                                        </div>
                                        <input type="hidden" name="_form_token" value="{{.CSRFToken}}">
                                        <button type="submit" class="btn btn-primary btn-user-custom btn-block">
                                            検証
                                        </button>
                                    </form>
                                    <hr>
                                    <div>
                                        <p>モバイルデバイスにアクセスできなくなった場合に備えて、リカバリコードの1つを入力できます。</p>
                                    </div>
{{end}}