{{template "baselogin" .}}

{{define "title"}}二要素認証{{end}}

{{define "content"}}
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">{{.Branding.Name}} - {{.Version}}</h1>
                                    </div>
                                    {{if .Error}}
                                    <div class="card mb-4 border-left-warning">
                                        <div class="card-body text-form-error">{{.Error}}</div>
                                    </div>
                                    {{end}}
                                    <form id="login_form" action="{{.CurrentURL}}" method="POST" autocomplete="off"
                                        class="user-custom">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user-custom"
                                                id="inputPasscode" name="passcode" placeholder="認証コード" required>
                                        </div>
                                        <input type="hidden" name="_form_token" value="{{.CSRFToken}}">
                                        <button type="submit" class="btn btn-primary btn-user-custom btn-block">
                                            検証
                                        </button>
                                    </form>
                                    <hr>
                                    <div>
                                        <p>デバイスで2要素認証アプリを開き、認証コードを表示し、身元を確認します。</p>
                                    </div>
                                    <hr>
                                    <div>
                                        <p><strong>問題がありますか?</strong></p>
                                        <p><a href="{{.RecoveryURL}}">2 ファクタ回復コードを入力する</a></p>
                                    </div>
{{end}}